obj
bin
*.obj
*.java
*.exe
*.pdb
*.mdb
*.dll
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
.suo
.cache
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.apk
*.cache
*.dll
*.dll.mdb
/Components
/packages
project.lock.json
/.vs
!AppodealXamarinPlugin.dll